<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Bem Vindo ao AppEncontro!</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Entre com seus dados logo</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
<ion-item-divider>
  <ion-input placeholder="Nome"></ion-input>
</ion-item-divider>
<ion-item-divider>
  <ion-input placeholder="Cidade"></ion-input>
</ion-item-divider>
<ion-item-divider>
  <ion-input placeholder="Data de nascimento"></ion-input>
</ion-item-divider>
<ion-item-divider>
  <ion-input placeholder="E-mail"></ion-input>
</ion-item-divider>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Cadastre-se</ion-title>
</ion-toolbar>
   
</ion-content>
